header {
    background-color: $bg-color;

}

.navbar {
    border-bottom: 1px solid $border;
    position: fixed;
    width: 100%;
    display: flex;
    display: flex;
    gap: 22%;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 13px;

    .logo {
        max-width: 150px;


        img {
            width: 100%;
        }

    }

    .nav__autoplay {
        display: flex;
        align-items: center;
        gap: 8px;

        .orange__square {
            width: 10px;
            height: 10px;
            background-color: #ff5e2a;
        }

        .autoplay__dialoge {
            font-size: 15px;
            margin: 0;
            text-transform: uppercase;
            font-family: Roboto Mono, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

        }
    }

    .hamberger {
        background-color: $font-color;
        padding: 15px;
        position: absolute;
        right: 30px;

        .bar {
            display: block;
            width: 25px;
            height: 2px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: rgb(255, 255, 255);
        }
    }
}