.home-banner {
    height: 170vh;
    background-color: $bg-color;
    overflow: hidden;
}

.home-banner__full-width {
    width: 100%;
    display: flex;


    .column {
        width: 100%;
        height: 100%;
    }

    .small-size {
        width: 25%;
        border-right: 1px solid $border;
        height: 170vh;
    }

    .paragraph__first-column {
        position: sticky;
        top: 80%;
        padding: 20px;
        width: 445px;

        p {
            font-family: Eloquia Text, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            margin: 0;

        }
    }

    .large-size {
        width: 50%;
        border-right: 1px solid $border;
        height: 170vh;

    }

    .banner__header {
        max-width: 70rem;
        position: absolute;
        left: 19%;
        bottom: 23%;
        background-color: #f6e9e3;
        padding-top: 0px;
        padding-bottom: 30px;

        h1 {
            font-size: 150px;
            line-height: 120px;
            font-family: Eloquia Text, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
            font-weight: 400;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
            width: 100%;
        }
    }

    .border-none {
        border: none;
    }

    .image__small-column {
        width: 400px;
        // position: relative;

        img {
            border-radius: 20px;
            width: 100%;
            margin-top: 320px;
            overflow: hidden;
        }
    }


}